@import url('https://fonts.cdnfonts.com/css/graphik');
* {
  text-decoration: none !important;
  font-family: 'graphik, sans-serif';
}
.parent-div {
  background-image: linear-gradient(to right, #733a5e , #cc7873, #301b1f);
  height: 50vh;
}
.navlocker{
  background-color: rgb(23 23 23)
}
.Hero{
overflow-x:scroll;
overflow-y:hidden;
scroll-behavior: smooth;

}

@media screen and(min-width:768px){
.toor{
 width: 300px !important;; 
}
}
.scrollbody::-webkit-scrollbar{
  display: none;
}


